/* Global View aka Desktop View */

body {
  font-family: "Asap", sans-serif;
  color: white;
  background-color: #ebebeb;
}

h1 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.header-container {
  background-color: #444;
  min-height: 100px;
  position: fixed;
  width: 100%;
}

.basic-grid {
  padding-top: 140px;
  display: grid;
  gap: 1rem; /* instead of adding margin to the children */
  /* grid-template-columns: 1fr; */ /* 1 1 single column */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

header {
  max-width: 1024px;
  /* background-color: blueviolet; */
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: rgb(43, 226, 147);
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 1rem;
}

.card div {
  flex-grow: 1;
}

.card p {
  font-size: 0.825rem;
  line-height: 1.25rem;
}

.hide-desktop-only {
  display: none;
}

.card img {
  display: none;
  width: 100%;
  height: auto;
}

.burger-menu {
  color-interpolation-filters: sRGB;
}

nav a {
  padding: 1rem;
}
.mob-wrapper {
  display: none;
}

/* Tablet View */
@media (max-width: 768px) {
  .basic-grid {
    padding-top: 40px;
  }
  .header-container {
    position: relative;
  }

  nav {
    display: none;
  }

  .mybutton {
    margin-left: 0;
  }

  .mob-wrapper {
    display: block;
    padding-right: 30px;
  }

  .mob-nav {
    padding-top: 10px;
    display: none;
    position: absolute;
    top: 115px;
    left: 0;
    width: 100vw;
    height: 100%;
    height: 100vh;
  }

  .mob-nav a {
    display: block;
    background-color: #444;
    padding: 15px 30px;
    text-align: center;
  }

  .mob-nav div {
    height: 100%;
  }
}
