/* Global View aka Desktop View */

body {
  font-family: "Asap", sans-serif;
  color: white;
  background-color: #ebebeb;
}

a {
  color: white;
  text-decoration: none;
}

.header-container {
  background-color: rgb(60, 60, 60);
  min-height: 100px;
  position: fixed;
  width: 100%;
}

.basic-grid {
  padding-top: 140px;
  display: grid;
  gap: 1rem; /* instead of adding margin to the children */
  /* grid-template-columns: 1fr; */ /* 1 1 single column */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

header {
  max-width: 1024px;
  /* background-color: blueviolet; */
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: rgb(43, 226, 147);
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 1rem;
}

.card div {
  flex-grow: 1;
}
.card:hover {
  transform: scale(1.1);
}

.card {
  border-radius: 4px;
  transition: all 500ms;
}

.card p {
  font-size: 0.825rem;
  line-height: 1.25rem;
}

.hide-desktop-only {
  display: none;
}

.card img {
  display: none;
  width: 100%;
  height: auto;
}

.mybutton {
  padding: 10px 25px;
  border-width: 1px;
  margin-left: 20px;
}

.highlight {
  font-weight: 700;
}

.mob-wrapper {
  display: none;
}

/* Tablet View */
@media (max-width: 768px) {
  .header-container {
    position: relative;
  }

  .container {
    padding-top: 40px;
  }

  nav {
    display: none;
  }

  .logo {
    padding: 40px 0;
  }

  .mybutton {
    margin-left: 0;
  }

  .mob-wrapper {
    display: block;
    padding-right: 30px;
  }

  .mob-nav {
    padding-top: 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  .navbutton {
    display: block;
    background-color: coral;
    padding: 15px 30px;
    text-align: center;
  }
}
